@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
  }



body{
    font-family: 'Roboto', sans-serif;
}

/*----------------------------------------------------colors*/

.navbar-dark .navbar-nav .nav-link:hover {
    color:rgb(250, 70, 70);
}

body{
    background-color:#000;
}

#hero-headline h1{
    color:rgba(250, 250, 150, 0.5);
}

#icon-lion h1{
    color:rgba(250, 250, 150, 0.4);
}



/*----------------------------------------------------colors end*/


/*----------------------------------------------------header*/



#logo-image img{
    border-radius:50%;
}


.navbar-nav {
    text-align: center;
    width:95%;
}

#header-content{
    height:35em;
}

#hero-image{
    background-image:url(/main-page/assets/images/elephant.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    height:inherit;
    margin-top:2em;
}


#hero-headline{
    width:100%;
    text-align:center;
}

#hero-headline h1{
    font-size:5em;
    letter-spacing:0.1em;
    position:relative;
    top:0.8em;
}


/*----------------------------------------------------header-end*/



/*--------------------------------------------Main*/

#main-container{
    height:60em;
}

#main-content {
    height: 15em;
}


#animals img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:inherit;
}


#icon-lion img{
    opacity:0.5;
    border-radius:50%;
}

.row{
    background-color:yellow;
    height:30em;
}

.col-sm-3{
    border:1px solid;
}

.col-md-6{
    border:1px solid;
}

.col-lg-12{
    border:1px solid;
}

.table{
    
    background-color:green;
    position:relative;
    width:100%;

}




/*media Queries*/

@media only screen and (min-width: 320px) {   /*small phones*/
    #logo-image{
        width:30%;
        height:3em;
    }

    #logo-image img{
        width:100%;
    }
    #hero-headline h1{
        font-size:5em;
        top:0.8em;
    }
/*--------------------------------------------Header end*/

/*--------------------------------------------Section start*/
    #icon-lion{
        position: relative;
        bottom: 20em;
    }


    #icon-lion h1{
        font-size:4em;
        letter-spacing:0.1em;
    }

    #animals{
        text-align:center;
         height:25em;
    }



    #icon-lion img{
        width: 35%;
        height: 10em;
    }

/*--------------------------------------------Section end*/

    .text-block{
    background-color: pink;
    width: 30%;
    height: 2em;
    position: relative;
    top: 6.9em;
    }


}



@media only screen and (min-width: 375px) { /*medium phones*/
    #logo-image{
        width:30%;
        height:3em;
    }

    #logo-image img{
        width:70%;
    }

}

@media only screen and (min-width: 425px) { /*large phones*/
    #logo-image{
        width:30%;
        height:3em;
    }

    #logo-image img{
        width:60%;
    }

    #hero-headline h1{
        font-size:6em;
        position:relative;
        top:0.5em;
}

}


@media only screen and (min-width: 768px) { /*tablets*/
    
    #header-content{
        height:inherit;
    }

    #logo-image{
        width:30%;
        height:3em;
    }

    #logo-image img{
        width:40%;
    }

    
    #hero-image{
        height:45em;
    }

    #hero-headline h1{
        font-size:11em;
        position:relative;
        top:0.6em;
    }

    #icon-lion{
        position: relative;
        bottom: 35em;
    }

    #animals{
        text-align:center;
        height:40em;
    }



    #icon-lion img{
        width: 30%;
        height: 15em;
    }


    #icon-lion h1{
        font-size:6em;
        letter-spacing:0.1em;
    }

    .text-block {
    background-color: pink;
    width: 30%;
    height: 3em;
    position: relative;
    top: 13.5em;
    }
    
}

/*--------------------------------------------Header ends*/

@media only screen and (min-width: 1024px) { /*desktops*/

    #header-content{
        height:inherit;
    }

    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
    }
    

    #logo-image{
        width:30%;
        height:3em;
    }

    #logo-image img{
        width:40%;
    }

    
    #hero-image{
       height:45em;
    }

    
    #hero-headline h1{
        font-size:11em;
        top:0.5em;
    
    }
/*--------------------------------------------Header ends*/
    
    #animals{
        text-align:center;
        height:50em;
    }

    #icon-lion {
        position: relative;
        bottom: 42em;
    }

    #icon-lion h1 {
        font-size: 10em;
    }

}


@media only screen and (min-width: 1440px) { /*large desktops*/
    #header-content{
        height:inherit;
    }

    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
    }

    #logo-image{
        width:30%;
        height:5em;
    }

    #logo-image img{
        width:30%;
    }

    #hero-image{
        height:45em;
    }

    
#hero-headline h1{
        font-size:15em;
        top:0em;
        letter-spacing:0.2em;
    }
/*--------------------------------------------Header ends*/

    
} 