@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
  }



body{
    font-family: 'Roboto', sans-serif;
}

/*----------------------------------------------------colors*/

.navbar-dark .navbar-nav .nav-link:hover {
    color:rgb(250, 70, 70);
}

body{
    background-color:#000;
}

#hero-headline h1{
    color:rgba(250, 250, 150, 0.5);
}

#icon-lion h2{
    color:rgba(250, 250, 150, 0.4);
}



/*----------------------------------------------------colors end*/


/*----------------------------------------------------header*/



#logo-image img{
    border-radius:50%;
}


.navbar-nav {
    text-align: center;
    width:95%;
}

#header-content{
    height:35em;
}

a{
    text-decoration: none;
}

#hero-image{
    background-image:url(/main-page/assets/images/elephant.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    height:inherit;
    margin-top:2em;
}


#hero-headline{
    width:100%;
    text-align:center;
}

#hero-headline h1{
    font-size:5em;
    letter-spacing:0.1em;
    position:relative;
    top:0.8em;
}


/*----------------------------------------------------header-end*/



/*--------------------------------------------Main*/

#main-content {
    height: 15em;
}


#animals img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:inherit;
}


#icon-lion img{
    opacity:0.5;
    border-radius:50%;
}

.main-container{
    position:relative;
}

.main-images-animals img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:15em;
}



.text-block-top .images-animals a{
    text-decoration: none;
    color: #fff;
}



.text-left-bottom a {
    text-decoration:none;
    color:white;
}

#foodchain-headline{
    width:100%;
    text-align:center;
    color:wheat;
}

#foodchain{
    background-image:url("/main-page/assets/images/cat-eyes.jpg");
    background-position: center;
    background-repeat: no-repeat;
}



#wildlife{
        height:30em;
        background-image: url("/main-page/assets/images/wildlife.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
}

#top-left-text-wildlife {
    height: 2em;
    width: 20%;
    background-color: rgba(255, 100, 100, 0.4);
    color:#fff;
}

#top-left-text-wildlife a{
    color:#fff;
}


#bottom-left-text-wildlife {
    height: 13.5em;
    width: 45%;
    position: relative;
    top: 26.5em;
    background-color: rgba(255, 100, 100, 0.7);
    color: #fff;
    font-size: 0.7em;
}




/*media Queries*/

@media only screen and (min-width: 320px) {   /*small phones*/
    #logo-image{
        width:30%;
        height:3em;
    }

    #logo-image img{
        width:100%;
    }
    #hero-headline h1{
        font-size:5em;
        top:0.8em;
    }
/*--------------------------------------------Header end*/

/*--------------------------------------------Section start*/
    #icon-lion{
        position: relative;
        bottom: 20em;
    }


    #icon-lion h2{
        font-size:4em;
        letter-spacing:0.1em;
    }

    #animals{
        text-align:center;
         height:25em;
    }



    #icon-lion img{
        width: 35%;
        height: 10em;
    }
    

/*--------------------------------------------Section end*/


    .text-block-top {
    width: 24%;
    background-color: rgba(255, 100, 100, 0.1);
    height: 1.5em;
    position: relative;
    bottom:15em;
    border-radius: 10%;
}

    .text-block-top h5{
        font-size:1em;
    }

    .text-left-bottom{
    height: 2.5em;
    position: relative;
    bottom: 3em;
    width:24%;
    }

    .text-bottom-right {
    background-color: rgba(255, 100, 100,0.5);
    height: 6em;
    width: 50%;
    float: right;
    position: relative;
    bottom: 6em;
    color: white;
}

    .text-bottom-right p{
    font-size:0.8em;
    }


    .images-animals{
    background-color: rgba(255, 100, 100,0.5);
    color:#fff;
    border-radius:10%;
    height:1.5em;
    }
    #foodchain {
    background-repeat: no-repeat;
    background-size: contain;
    background-position:inherit;
}

    #triangle {
    width: 0;
    height: 0;
    border-left: 10em solid transparent;
    border-right: 10em solid transparent;
    border-bottom: 10em solid;
    margin: auto;
    
}

.owl-image img{
    height: 6em;
    margin: auto;
    position: relative;
    top: 3em;
    right: 4em;
    border-radius: 50%;
}

.snakes-image img {
    height: 5em;
    margin: auto;
    position: relative;
    left: 0;
    border-radius: 50%;
    width: 100%;
}

.bird-image img {
    margin: auto;
    height: 5em;
    width: 60%;
    border-radius: 50%;
    position: relative;
    left: 2em;
}

.grasshopper-image img {
    margin: auto;
    height: 5em;
    width: 50%;
    border-radius: 50%;
    position: relative;
    left: 3.5em;
}

.producers-image img {
    margin: auto;
    height: 5em;
    width: 40%;
    border-radius: 50%;
    position: relative;
    left: 5.5em;
}



.trapezoid-first {
    border-bottom: 5em solid;
    border-left: 2em solid transparent;
    border-right: 2em solid transparent;
    height: 0;
    width: 5em;
    margin: auto;
    width: 55%;
    margin-top: 0.5em;
}

.trapezoid-second {
    border-bottom: 5em solid;
    border-left: 2em solid transparent;
    border-right: 2em solid transparent;
    height: 0;
    width: 5em;
    margin: auto;
    width: 75%;
    margin-top: 0.5em;
}

.trapezoid-third {
    border-bottom: 5em solid;
    border-left: 2em solid transparent;
    border-right: 2em solid transparent;
    height: 0;
    width: 5em;
    margin: auto;
    width: 95%;
    margin-top: 0.5em;
}

.trapezoid-fourth {
    border-bottom: 5em solid;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    height: 0;
    width: 5em;
    margin: auto;
    width: 100%;
    margin-top: 0.5em;
}

#top-left-text-wildlife {
    width: 25%;
}

#contact{
    background-color: yellow;
    height: 30em;
}



form{
    text-align:center;
    height:15em;
}


}


@media only screen and (min-width: 375px) { /*medium phones*/
    #logo-image{
        width:30%;
        height:3em;
    }

    #logo-image img{
        width:70%;
    }

     #triangle {
    width: 0;
    height: 0;
    border-left: 10em solid transparent;
    border-right: 10em solid transparent;
    border-bottom: 10em solid;
    margin: auto;
    
}

.owl-image img{
    height: 6em;
    margin: auto;
    position: relative;
    top: 3em;
    right: 4em;
    border-radius: 50%;
}

.snakes-image img {
    height: 5em;
    margin: auto;
    position: relative;
    left: 1em;
    border-radius: 50%;
    width: 85%;
}

.bird-image img {
    margin: auto;
    height: 5em;
    width: 60%;
    border-radius: 50%;
    position: relative;
    left: 3em;
}

.grasshopper-image img {
    margin: auto;
    height: 5em;
    width: 50%;
    border-radius: 50%;
    position: relative;
    left: 5em;
}

.producers-image img {
    margin: auto;
    height: 5em;
    width: 40%;
    border-radius: 50%;
    position: relative;
    left: 7.5em;
}



.trapezoid-first {
    border-bottom: 5em solid;
    border-left: 2em solid transparent;
    border-right: 2em solid transparent;
    height: 0;
    width: 5em;
    margin: auto;
    width: 59%;
    margin-top: 0.5em;
}

.trapezoid-second {
    border-bottom: 5em solid;
    border-left: 2em solid transparent;
    border-right: 2em solid transparent;
    height: 0;
    width: 5em;
    margin: auto;
    width: 75%;
    margin-top: 0.5em;
}

.trapezoid-third {
    border-bottom: 5em solid;
    border-left: 2em solid transparent;
    border-right: 2em solid transparent;
    height: 0;
    width: 5em;
    margin: auto;
    width: 92%;
    margin-top: 0.5em;
}

.trapezoid-fourth {
    border-bottom: 5em solid;
    border-left: 0.5em solid transparent;
    border-right: 0.5em solid transparent;
    height: 0;
    width: 5em;
    margin: auto;
    width: 100%;
    margin-top: 0.5em;
}



}

@media only screen and (min-width: 425px) { /*large phones*/
    #logo-image{
        width:30%;
        height:3em;
    }

    #logo-image img{
        width:60%;
    }

    #hero-headline h1{
        font-size:6em;
        position:relative;
        top:0.5em;
}

    #top-left-text-wildlife {
    width: 20%;
}


}


@media only screen and (min-width: 768px) { /*tablets*/
    
    #header-content{
        height:inherit;
    }

    #logo-image{
        width:30%;
        height:3em;
    }

    #logo-image img{
        width:40%;
    }

    
    #hero-image{
        height:45em;
    }

    #hero-headline h1{
        font-size:11em;
        position:relative;
        top:0.6em;
    }

    #icon-lion{
        position: relative;
        bottom: 35em;
    }

    #animals{
        text-align:center;
        height:40em;
    }



    #icon-lion img{
        width: 30%;
        height: 15em;
    }


    #icon-lion h2{
        font-size:6em;
        letter-spacing:0.1em;
    }

    .text-block-top {
        width: 24%;
        background-color: rgba(255, 100, 100, 0.1);
        height: 1.5em;
        position: relative;
        bottom:15em;
        border-radius: 10%;

    
}

    #foodchain {
        background-size: cover;
    }
    #triangle {
    width: 0;
    height: 0;
    border-left: 10em solid transparent;
    border-right: 10em solid transparent;
    border-bottom: 10em solid;
    margin: auto;
    
}

.owl-image img{
    height: 6em;
    margin: auto;
    position: relative;
    top: 3em;
    right: 4em;
    border-radius: 50%;
}

.snakes-image img{
    height: 5em;
    margin: auto;
    position: relative;
    left: 6em;
    border-radius: 50%;
    width: 40%;
}

.bird-image img {
    margin: auto;
    height: 5em;
    width: 30%;
    border-radius: 50%;
    position: relative;
    left: 8.5em;
}

.grasshopper-image img{
    margin: auto;
    height: 5em;
    width: 30%;
    border-radius: 50%;
    position: relative;
    left: 10em;
}

.producers-image img {
    margin: auto;
    height: 5em;
    width: 23%;
    border-radius: 50%;
    position: relative;
    left: 13em;
}



.trapezoid-first {
    border-bottom: 5em solid;
    border-left: 2em solid transparent;
    border-right: 2em solid transparent;
    height: 0;
    width: 5em;
    margin: auto;
    width: 50%;
    margin-top: 0.5em;
}

.trapezoid-second {
    border-bottom: 5em solid;
    border-left: 2em solid transparent;
    border-right: 2em solid transparent;
    height: 0;
    width: 5em;
    margin: auto;
    width: 60%;
    margin-top: 0.5em;
}

.trapezoid-third {
    border-bottom: 5em solid;
    border-left: 2em solid transparent;
    border-right: 2em solid transparent;
    height: 0;
    width: 5em;
    margin: auto;
    width: 70%;
    margin-top: 0.5em;
}

.trapezoid-fourth {
    border-bottom: 5em solid;
    border-left: 2em solid transparent;
    border-right: 2em solid transparent;
    height: 0;
    width: 5em;
    margin: auto;
    width: 80%;
    margin-top: 0.5em;
}

#bottom-left-text-wildlife {
    height: 13.5em;
    width: 25%;
    position: relative;
    top: 26.5em;
    background-color: rgba(255, 100, 100, 0.7);
    color: #fff;
    font-size: 0.7em;
    line-height:1.5em;
}

    #top-left-text-wildlife {
    width: 10%;
}



}
/*--------------------------------------------Header ends*/

@media only screen and (min-width: 1024px) { /*desktops*/

    #header-content{
        height:inherit;
    }

    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
    }
    

    #logo-image{
        width:30%;
        height:3em;
    }

    #logo-image img{
        width:40%;
    }

    
    #hero-image{
       height:45em;
    }

    
    #hero-headline h1{
        font-size:11em;
        top:0.5em;
    
    }
/*--------------------------------------------Header ends*/
    
    #animals{
        text-align:center;
        height:50em;
    }

    #icon-lion {
        position: relative;
        bottom: 42em;
    }

    #icon-lion h2 {
        font-size: 10em;
    }

    .text-bottom-right p {
        font-size: 0.73em;
    }

    .images-animals {
    background-color: rgba(255, 100, 100,0.5);
    color: #fff;
    border-radius: 10%;
    height: 3em;
}

    .text-left-bottom {
    height: 2.5em;
    position: relative;
    bottom: 4.5em;
    width: 30%;
    margin-left: 0.20em;
}

        #triangle {
    width: 0;
    height: 0;
    border-left: 10em solid transparent;
    border-right: 10em solid transparent;
    border-bottom: 10em solid;
    margin: auto;
    
}

.owl-image img{
    height: 6em;
    margin: auto;
    position: relative;
    top: 3em;
    right: 4em;
    border-radius: 50%;
}

.snakes-image img{
    height: 5em;
    margin: auto;
    position: relative;
    left: 6em;
    border-radius: 50%;
    width: 45%;
}

.bird-image img {
    margin: auto;
    height: 5em;
    width: 35%;
    border-radius: 50%;
    position: relative;
    left: 9em;
}

.grasshopper-image img {
    margin: auto;
    height: 5em;
    width: 30%;
    border-radius: 50%;
    position: relative;
    left: 11.5em;
}

.producers-image img {
    margin: auto;
    height: 5em;
    width: 23%;
    border-radius: 50%;
    position: relative;
    left: 15em;
}



.trapezoid-first {
    border-bottom: 5em solid;
    border-left: 3em solid transparent;
    border-right: 3em solid transparent;
    height: 0;
    width: 5em;
    margin: auto;
    width: 42%;
    margin-top: 0.5em;
    opacity: 0.7;
    }

.trapezoid-second {
    border-bottom: 5em solid;
    border-left: 2.5em solid transparent;
    border-right: 2.5em solid transparent;
    height: 0;
    width: 5em;
    margin: auto;
    width: 51.5%;
    margin-top: 0.5em;
}

.trapezoid-third {
    border-bottom: 5em solid;
    border-left: 3em solid transparent;
    border-right: 3em solid transparent;
    width: 5em;
    margin: auto;
    width: 62%;
    margin-top: 0.5em;
}

.trapezoid-fourth {
    border-bottom: 5em solid;
    border-left: 2.5em solid transparent;
    border-right: 2.5em solid transparent;
    height: 0;
    width: 5em;
    margin: auto;
    width: 71%;
    margin-top: 0.5em;
}



#top-left-text-wildlife{
    background-color:rgba(255, 100, 100, 0.4);
    height:2em;
}

#bottom-left-text-wildlife {
    height: 13.5em;
    width: 20%;
    position: relative;
    top: 26.5em;
    background-color: rgba(255, 100, 100, 0.4);
    color: #fff;
    line-height:1.8em;
}





    



    

}


@media only screen and (min-width: 1440px){ /*large desktops*/
    #header-content{
        height:inherit;
    }

    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
        width: 100%;
        justify-content: flex-end;
    }

    #logo-image{
        width:30%;
        height:5em;
    }

    #logo-image img{
        width:30%;
    }

    #hero-image{
        height:45em;
    }

    
#hero-headline h1{
        font-size:15em;
        top:0em;
        letter-spacing:0.2em;
    }
}    
