@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
}

body{
    font-family: 'Roboto', sans-serif;
}

/*----------------------------------------------------colors*/

.navbar-dark .navbar-nav .nav-link:hover {
    color:rgb(250, 70, 70);
}

body{
    background-color:#000;
}

#hero-headline h1{
    color:rgba(130, 100, 70, 0.4);
}



/*----------------------------------------------------colors end*/


/*----------------------------------------------------header*/



#logo-image img{
    border-radius:50%;
}


.navbar-nav {
    text-align: center;
    width:95%;
}

#header-content{
    height:35em;
}

#hero-image{
    background-image:url(/main-page/assets/images/elephant.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    height:inherit;
    margin-top:2em;
}


#hero-headline{
    width:100%;
    text-align:center;
}

#hero-headline h1{
    font-size:5em;
    color:rgba(250, 250, 150, 0.5);
    letter-spacing:0.1em;
    position:relative;
    top:0.8em;
}


/*----------------------------------------------------header-end*/



/*--------------------------------------------Main*/

#main-container{
    height:60em;
}

#main-content {
    height: 15em;
}

#animals{
    text-align:center;
    padding: 6em 0;
}

#icon-lion img{
    width:40%;
    border-radius:50%;
}

#fire-video{
    width:100%;
    height:inherit;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#animals h1{
    font-size:5em;
    color:rgba(250, 250, 150, 0.8);
}

.main-images{
    background-color:gray;
    height:inherit;
    border: 1px solid;
}

.main-images img{
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    width:100%;
}



/*media Queries*/

@media only screen and (min-width: 320px) {   /*small phones*/
    #logo-image{
        width:30%;
        height:3em;
    }

    #logo-image img{
        width:100%;
    }
    #hero-headline h1{
    font-size:5em;
    color:rgba(250, 250, 150, 0.5);
    top:0.8em;
    
}
/*--------------------------------------------Header ends*/


.main-content{
    background-color:yellow;
}






@media only screen and (min-width: 375px) { /*medium phones*/
    #logo-image{
        width:30%;
        height:3em;
    }

    #logo-image img{
        width:70%;
    }
/*--------------------------------------------Header ends*/
}

@media only screen and (min-width: 425px) { /*large phones*/
    #logo-image{
        width:30%;
        height:3em;
    }

    #logo-image img{
        width:60%;
    }

    #hero-headline h1{
    font-size:6em;
    position:relative;
    top:0.5em;
}
/*--------------------------------------------Header ends*/
}


@media only screen and (min-width: 768px) { /*tablets*/
    
    #header-content{
        height:inherit;;
    }

    #logo-image{
        width:30%;
        height:3em;
    }

    #logo-image img{
        width:40%;
    }

    
    #hero-image{
        height:45em;
    }

    #hero-headline h1{
    font-size:11em;
    position:relative;
    top:0.6em;
}
/*--------------------------------------------Header ends*/

}

@media only screen and (min-width: 1024px) { /*desktops*/

    #header-content{
        height:inherit;
    }

    .navbar-expand-lg .navbar-nav {
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    }
    

    #logo-image{
        width:30%;
        height:3em;
    }

    #logo-image img{
        width:40%;
    }

    
    #hero-image{

        height:45em;
    }

    
    #hero-headline h1{
        font-size:11em;
        top:0.5em;
    
    }
/*--------------------------------------------Header ends*/
}


@media only screen and (min-width: 1440px) { /*large desktops*/
    #header-content{
        height:inherit;
    }

    .navbar-expand-lg .navbar-nav {
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    }

    #logo-image{
        width:30%;
        height:5em;
    }

    #logo-image img{
        width:30%;
    }

    #hero-image{
        height:45em;
    }

    
#hero-headline h1{
        font-size:15em;
        top:0em;
        letter-spacing:0.2em;
    }
/*--------------------------------------------Header ends*/
    

}