@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
}

body{
    font-family: 'Roboto', sans-serif;
}

/*----------------------------------------------------colors*/

.navbar-dark .navbar-nav .nav-link:hover {
    color:rgb(250, 70, 70);
}

body{
    background-color:#000;
}



/*----------------------------------------------------colors end*/


/*----------------------------------------------------header*/



#logo-image img{
    border-radius:50%;
}


.navbar-nav {
    text-align: center;
}

#header-content{
    height:30em;
}

#hero-image{
    background-image:url(/main-page/assets/images/elephant.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width:100%;
    height:inherit;
}


/*----------------------------------------------------header-end*/



/*media Queries*/

@media only screen and (min-width: 320px) {   /*small phones*/
    #logo-image{
        width:30%;
        height:3em;
    }

    #logo-image img{
        width:80%;
    }
}



@media only screen and (min-width: 375px) { /*medium phones*/
    #logo-image{
        width:30%;
        height:3em;
    }

    #logo-image img{
        width:70%;
    }
}

@media only screen and (min-width: 425px) { /*large phones*/
    #logo-image{
        width:30%;
        height:3em;
    }

    #logo-image img{
        width:60%;
    }
}


@media only screen and (min-width: 768px) { /*tablets*/
    #logo-image{
        width:30%;
        height:3em;
    }

    #logo-image img{
        width:40%;
    }
}

@media only screen and (min-width: 1024px) { /*desktops*/

    .navbar-expand-lg .navbar-nav {
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    }
    

    #logo-image{
        width:30%;
        height:3em;
    }

    #logo-image img{
        width:40%;
    }
}


@media only screen and (min-width: 1440px) { /*large desktops*/

    .navbar-expand-lg .navbar-nav {
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    }

    #logo-image{
        width:30%;
        height:5em;
    }

    #logo-image img{
        width:30%;
    }

    #hero-image{
        margin-top:1em;
        height:45em;
    }

    

}